.sidebarElement{
    display: flex;
    padding: 10px;
    color:white;
    width:fit-content;
    margin: 5px;
    align-items: center;
    font-size: x-large;
    margin-left: 40px;;

}
.sidebarElement:hover{
    border:1px;
    border-radius: 999px;
    background-color: #271b02;
    box-shadow: 2em;
    color: darkorange;

}
.sidebarElementText{
    padding-left: 10px;
    padding-right: 10px;
}



